project_video_with_lane_backup.mp4 filter=lfs diff=lfs merge=lfs -text
challenge_video.mp4 filter=lfs diff=lfs merge=lfs -text
harder_challenge_video.mp4 filter=lfs diff=lfs merge=lfs -text
project_video.mp4 filter=lfs diff=lfs merge=lfs -text
project_video_with_lane.mp4 filter=lfs diff=lfs merge=lfs -text
